{% set blogCategories = [] %}
<ul class="list-unstyled categories-group ">
  {% for post in cmsContent('blog')|extended_sort('published_on', false) %}
    {% for category in post.categories %}
        {% if category.name not in blogCategories %}
          <li>
            <a href="/archives/blog/{{ category.slug }}" class="accordion-toggle direct-link">{{ category.name }}</a>
          </li>
          {% set blogCategories = blogCategories|merge([category.name]) %}
        {% endif %}
    {% endfor %}
  {% endfor %}
</ul>
