<script type="text/javascript" src="{{ 'js/jquery.raty.min.js'|theme_resource}}"></script>
<script>
  function writeReview() {
  	$('#productWriteModal').modal('show');
  }
  //Rating Star activator
  if ($('.star').length > 0) {
      $('.star').raty({
          starOff: 'images/star-off.png',
          starOn: 'images/star-on.png',
          score: function() {
              return $(this).attr('data-score');
          }
      });
  }

  //
  // Star rating
  //
  $('.rating > span').click(function() {
      var currentId = $(this).attr('id');
      if (currentId === 'hate') {
          $('#hate').addClass('select');
          $('#dont-like, #ok, #like, #love').removeClass('select');
          $('.rating > p').text('I hate it');
          $("#item_rating").val('1');
      }
      if (currentId === 'dont-like') {
          $('#hate, #dont-like').addClass('select');
          $('#ok, #like, #love').removeClass('select');
          $('.rating > p').text('I don\'t like it');
          $("#item_rating").val('2');
      }
      if (currentId === 'ok') {
          $('#hate, #dont-like, #ok').addClass('select');
          $('#like, #love').removeClass('select');
          $('.rating > p').text('It\'s ok');
          $("#item_rating").val('3');
      }
      if (currentId === 'like') {
          $('#hate, #dont-like, #ok, #like').addClass('select');
          $('#love').removeClass('select');
          $('.rating > p').text('I like it');
          $("#item_rating").val('4');
      }
      if (currentId === 'love') {
          $('#hate, #dont-like, #ok, #like, #love').addClass('select');
          $('.rating > p').text('I love it');
          $("#item_rating").val('5');
      }

  });
</script>
