<footer id="page-footer">
	<div class="container">
		<div class="footer-contact text-center row">
			<div class="col-xs-12 col-sm-4 col-lg-2 col-lg-offset-3">
				<a href="#"><i class="fa fa-envelope-o"></i>info@boxie.com</a>
			</div>
			<div class="col-xs-12 col-sm-4 col-lg-2">
				<a href="#"><i class="fa fa-phone"></i>555.555.5555</a>
			</div>
			<div class="social-buttons col-xs-12 col-sm-4 col-lg-2">
				<a class="facebook" href="{{ theme.socialFacebookUrl}}"><i class="fa fa-facebook"></i></a>
				<a class="twitter" href="{{ theme.socialTwitterUrl }}"><i class="fa fa-twitter"></i></a>
				<a class="gplus" href="{{ theme.socialGoogleUrl }}"><i class="fa fa-google-plus"></i></a>
			</div>
		</div>
		<div class="footer-info wrap row">
			<div class="col-sm-8">
				{{ widget_block("footer-menu") }}
			</div>
			<div class="col-sm-4">
				<p class="credit">Powered by <a href="http://www.lemonstand.com">LemonStand</a></p>
			</div>
		</div>
	</div>
</footer>
