{% if cart %}
	<h2>Your Order</h2>
	<div id="cart-content">
		{{ partial('shop-cart-items') }}
	</div>
	{% if order.payment_processed %}
		<p class="flash info"><strong>Thank you!</strong> The payment is already processed for this order.</p>
		{% else %}
		<!--  Pay with stored cards shown in dropdown -->
		{% if cards is defined %}
			<h2>Pay with a Saved Card</h2>
			<div class="form-group">
				<form class="custom saved-card-form" method="post" data-ajax-handler="shop:onPay">
					<input type='hidden' name='payment_method_id' id='payment_method_id' value=''>
					<select name="payment_method_token" class="md-select saved-card-selector" id="saved_card_option" style="margin-bottom: 15px;">
						<option value=''>Select Saved Card</option>
						{% for card in cards %}
							<option id="token-{{ card.token }}" value="{{ card.token }}" card-method="{{ card.paymentMethod.id }}">{{ card.paymentMethod.name }}: {{ card.cardAndBrand }}</option>
						{% endfor %}
					</select>
					<br>
					<input type="submit" class="btn btn-primary" value="Pay with Saved Card">
				</form>
			</div>
			<h2> or </h2>
		{% endif %}
		<h2>Select a Payment Method</h2>
		<!-- The payment method radio button clicks are handled in the main.js -->
		<div id="payment_method" class="form-group">
			{{ open_form({'class': 'custom'}) }}
			{% for method in paymentMethods %}			
				<input class="custom-radio" name="paymentMethodId" value="{{ method.id }}" type="radio" id="payment-method{{ method.id }}" />
				<label for="payment-method{{ method.id }}" class="choice-title h6">{{ method.name }}</label>
			{% endfor %}
			</form>
		</div>
		
		<div id="payment_form">{{ partial('shop-paymentform') }}</div>
	{% endif %}
{% else %}
	<p class="flash error">Order not found.</p>
{% endif %}