{% if product.options.count %}
    <div class="row">
		{% for index, option in product.options %}
          <div class="col-md-6 form-group">
            <h5 class="title" for="{{ 'option-'~index }}">{{ option.name }}</h5>
            	<select id="{{ 'option-'~index }}" name="options[{{ option.id }}]" class="product-option form-control" data-ajax-handler="shop:product" data-ajax-update="#product-page=shop-product">
              {% for key, value in option.values %}
                	<option value='{{ key }}' {{ option_state(postedOptions[option.id], key) }}>{{ value }}</option>
              {% endfor %}
			  	</select>
          </div>
        {% endfor %}
    </div>
{% endif %}