{{ open_form({'data-ajax-handler': 'shop:onChangePassword', 'class': 'custom', 'data-ajax-update': '#profile-changepassword=shop-changepassword,#profile-addresses=shop-customerprofile', 'data-validation-message' : ''}) }}
{{ flash() }}
<div class="row">
	<div class=" form-group col-xs-12 col-sm-4">
		
		<input name="oldPassword" id="oldPassword" type="password" class=" form-control" value="" placeholder="Old Password"/>
		<label for="oldPassword">Old Password</label>
		<span class="error"></span>
	</div>
	<div class=" form-group col-xs-12 col-sm-4">
		
		<input name="password" id="password" type="password" class=" form-control" value="" placeholder="New Password"/>
		<label for="password">New Password</label>
		<span class="error"></span>
	</div>
	<div class=" form-group col-xs-12 col-sm-4">
		
		<input name="passwordConfirm" id="passwordConfirm" type="password" class=" form-control" value="" placeholder="Confirm Password"/>
		<label for="passwordConfirm">Confirm Password</label>
		<span class="error"></span>
	</div>
</div>
<div class=" form-group ">
	<input type="submit" class="btn btn-primary pull-right" value="Save Password"/>
	<input type="hidden" name="flash" value="Your password has been successfully changed."/>
	<input type="hidden" name="redirect" value="{{ root_url('/profile') }}"/>
</div>
</form>