<div class="col-xs-12 col-md-9">
    {{ flash() }}
    <div class="items-holder">
        
        {{ partial('shop-cart-items', {'edit_cart': true}) }}

    </div>
    
    <div id="cart-actions" class="btn-holder clearfix">
        <a class="btn btn-default btn-update-cart" href="#" data-ajax-handler="shop:cart" data-ajax-update="#cart-content=shop-cart-content, #mini-cart=shop-minicart, #navbar-totals=shop-minicart-totals">Update Cart <i class="fa fa-refresh"></i></a>
        
        <div class="col-sm-6 col-lg-4 form-group">
            <input type="text" class="form-control" id="coupon-code" name="coupon" placeholder="Coupon Code" value="{{ coupon_code }}" />
            <label for="coupon-code">Coupon Code</label>
        </div>
        
        <a class="btn btn-default btn-continue-shopping" href="{{ site_url('shop') }}" ><i class="fa fa-arrow-left"></i> Continue Shopping</a>
    </div>
</div>

<div class="col-xs-12 col-md-3">
    <h3>Order Summary</h3>
    <p class="h6">Shipping costs and taxes will be evaluated during checkout</p>
    <ul class="price-list list-group">
        {% if totals.discountTotal > 0 %}
            <li class="list-group-item">Discount: <span class="badge">{{ totals.discountTotal|currency }}</span></li>
        {% endif %}
        <li class="list-group-item">Subtotal: <span class="badge">{{ totals.subtotal|currency }}</span></li>
        {% if totals.totalShippingQuote > 0 %}
            <li class="list-group-item">Shipping: <span class="badge">{{ totals.totalShippingQuote|currency }}</span></li>
        {% endif %}
        <li class="list-group-item important">Total: <span class="badge">{{ totals.total|currency }}</span></li>
    </ul>
    {% if customer %}
    <a class="col-xs-12 btn btn-danger solid btn-lg" href="{{ site_url('/checkout') }}">Checkout</a>
    {% else %}
    <a class="col-xs-12 btn btn-danger solid btn-lg" href="{{ site_url('/checkout-start') }}">Checkout</a>
    {% endif %}
</div>