---
name: shop-passwordrestorerequest
---
{{ flash() }}
{% if invalidHash %}
    <span class="error">Invalid or expired link.</span>
{% endif %}
<p class="h6">Please enter your email below, we will send you an email message with a link to enter a new password for your account.<p>

<div class="input-group">
	<input type="text" id="email" name="email" class="form-control" placeholder="Email Address"/>
  <span class="error"></span>
	<span class="input-group-btn">
		<input type="hidden" name="requestPasswordRestore" value="1">
		<input type="hidden" name="successMessage" value="Password restore email was sent."/>
		<input type="submit" class="btn btn-primary btn-lg" value="Submit" name="passwordRestoreSubmit"/>
	</span>
</div>
