<div id="write-modal">
	<div class="modal fade" id="productWriteModal" tabindex="-1" role="dialog" aria-labelledby="productWriteModal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h1 class="modal-title">{{ product.name }}</h1>
	      </div>
				<div class="modal-body">
					<div class="panel-body section-contact-form">
						{{ flash() }}
						{{ open_form({'data-ajax-handler': 'system:onSendMessage'}) }}
							<div class="row field-row">
								<div class="col-xs-12 col-sm-12 form-group">
									<input type="text" class="required form-control" id="contact_name" name="fields[name]" value="" placeholder="Your name"/>
									<span class="error"></span>
								</div>
							</div>

							<div class="row field-row">
								<div class="col-xs-12 col-sm-12 form-group">
									<input type="text" class="required form-control" id="contact_email" name="fields[email]" value="" placeholder="Email address"/>
									<span class="error"></span>
								</div>
							</div>

							<div class="row field-row">
								<div class="col-xs-12 col-sm-12 form-group">
									<input type="text" class="required form-control" id="subject" name="fields[subject]" value="" placeholder="Title for your review"/>
									<span class="error"></span>
								</div>
							</div>

							<div class="row field-row">
								<div class="col-xs-12 col-sm-12 form-group">
									<textarea class="required form-control" id="contact_message" name="fields[message]" value="" rows="10" placeholder="Your review"></textarea>
									<span class="error"></span>
								</div>
							</div>

							<div class="rating">
								<span id="love">☆</span><span id="like">☆</span><span id="ok">☆</span><span id="dont-like">☆</span><span id="hate">☆</span>
								<p>&nbsp;</p>
							</div>

							<select style="display:none" id="item_rating" name="fields[item_rating]">
								<option value="" diabled>-</option>
								<option value="1">&starf;&star;&star;&star;&star;</option>
								<option value="2">&starf;&starf;&star;&star;&star;</option>
								<option value="3">&starf;&starf;&starf;&star;&star;</option>
								<option value="4">&starf;&starf;&starf;&starf;&star;</option>
								<option value="5">&starf;&starf;&starf;&starf;&starf;</option>
							</select>
							<span class="error"></span>

							<input type="submit" class="btn btn-primary btn-lg btn-block" value="Submit" style="width: 100%"/>
							<input type="text" name="hp" value="" style="display: none"/>
							<input type="hidden" name="fields[shop_customer_id]" value="{{customer.id}}"/>
							<input type="hidden" name="fields[shop_product_id]" value="{{product.id}}"/>
							<input type="hidden" name="template" value="system:product-review"/>
							<input type="hidden" name="fields[message_type]" value="review"/>

						{{ close_form() }}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
