---
name: header-menu
content_type: html
---
<ul id="main-nav" class="nav navbar-nav">
  <li class="{{ categories.count ? 'dropdown' : null }} {{ active_page == 'shop' ? 'active' : null }}">
    <a class="dropdown-toggle" {{ categories.count ? 'data-toggle="dropdown"' : null }} id="shop-dropdown" href="{{ site_url('shop') }}">
      Shop {{ categories.count ? '<b class="caret">' : null }}</b>
    </a>
    {% if categories.count %}
    <ul class="dropdown-menu" role="menu" aria-labelledby="shop-dropdown">
      <li role="presentation">
        <a href="{{ site_url('shop') }}">All Products</a>
      </li>
      {% tree categories %}
      {% for category in tree.items %}
      <li role="presentation">
        <a role="menuitem" tabindex="-1" href="/category/{{ category.fullUrlName }}">{{ category.name }}</a>
      </li>
      {% endfor %}
      {% endtree %}
    </ul>
    {% endif %}
  </li>
  {% if customer %}
  <li class="{{ active_page == 'orders' ? 'active' : null }}"><a href="{{ site_url('orders') }}">My Orders</a></li>
  <li class="{{ active_page == 'profile' ? 'active' : null }}"><a href="{{ site_url('profile') }}">My Profile</a></li>
  {% endif %}
  <li class="{{ active_page == 'about' ? 'active' : null }}"><a href="{{ site_url('about') }}">About</a></li>
  <li class="{{ active_page == 'blog' ? 'active' : null }}"><a href="{{ site_url('archives/blog') }}">Blog</a></li>
  <li class="{{ active_page == 'contact' ? 'active' : null }}"><a href="{{ site_url('contact') }}">Contact</a></li>
  <li class="visible-xs col-xs-12">
    {% if customer %}
    {# Welcome, {{ customer.first_name }}! #}
    <a href="{{ site_url('logout') }}" class="btn btn-default">Logout <i class="fa fa-unlock-alt"></i></a>
    {% else %}
    <a href="{{ site_url('login') }}" class="btn btn-default">Login <i class="fa fa-lock"></i></a>
    {% endif %}
  </li>
</ul>
