/*!
 * BOXIE 1.0
 */
@import "../bower_components/bootstrap/dist/css/bootstrap.css";
@import "../bower_components/OwlCarousel/owl-carousel/owl.carousel.css";
@import "../bower_components/OwlCarousel/owl-carousel/owl.theme.css";
@import "../bower_components/chosen_v1.1.0/chosen.css";
.open-sans {
  font-family: 'Open Sans', sans-serif;
}
.open-sans-light {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
.open-sans-bold {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}
.open-sans-xbold {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
}
/* ==========================================================================
   !Base
   ========================================================================== */
body {
  font-family: 'Open Sans', sans-serif;
  background: #efefef url(../img/bgnoise_lg.png);
  background: #DDE1E6;
}
h1,
.h1,
h2,
.h2,
h3,
.h3 {
  font-weight: 300;
}
h4,
.h4,
h5,
.h5,
h6,
.h6,
b,
strong {
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
}
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  text-transform: uppercase;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #0c4d6c;
}
.wrap {
  background: #fff;
}
.btn {
  border-radius: 0;
}
.input-group-btn .btn-lg {
  padding: 13px 16px 14px 16px;
}
.input-group-btn .btn-lg .fa-search {
  margin: 0;
}
.btn-primary {
  text-transform: uppercase;
  font-weight: 600;
}
.btn-default:hover,
.btn-default.active {
  background: #0c4d6c;
  color: #fff;
}
.btn-danger:hover,
.btn-danger.solid {
  background: #e34f30;
  color: #fff;
}
.btn-danger.solid:hover {
  background: #c5381b;
  color: #fff;
}
.btn .fa {
  margin-left: 6px;
}
.btn.pull-left .fa {
  margin-left: 0;
  margin-right: 6px;
}
.btn-add-cart .fa-refresh {
  margin-right: 6px;
}
.btn-form-mirror .fa {
  margin: 0;
}
.success {
  border: 1px solid #707c3c;
  background: #cfd7ad;
  padding: 4px;
  color: #707c3c;
  font-style: italic;
  text-transform: uppercase;
}
.breadcrumb,
.dropdown-menu,
.modal-content,
.list-group,
.badge,
.list-group,
.list-group-item:first-child,
.list-group-item:last-child {
  border-radius: 0;
}
.section-title {
  text-transform: uppercase;
  position: relative;
  text-align: center;
  font-size: 22px;
}
.section-title a {
  display: block;
}
.section-title a:hover {
  color: #e34f30;
}
.section-title span {
  background: #f8f8f8;
  position: relative;
  z-index: 1;
  padding: 0 10px;
}
.section-title:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 10%;
  height: 1px;
  width: 80%;
  background: #cfcfcf;
}
#profile-addresses .section-title span {
  background: #fff;
}
.form-control {
  padding: 15px 20px;
  box-shadow: none;
}
.form-control:not(select) {
  height: auto;
}
.chosen-container {
  height: 52px;
  padding: 15px 20px;
  border: 1px solid #efefef;
}
.chosen-container .chosen-single {
  background: #fff;
  border-radius: 0;
  box-shadow: none;
  border: none !important;
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
  color: #cccccc;
  background-repeat: no-repeat;
  background-position: 94% 50%;
}
.chosen-container .chosen-single:focus:after {
  content: '';
  position: absolute;
  left: -20px;
  top: -15px;
  right: -20px;
  bottom: -15px;
  border: 1px solid #cfcfcf;
}
.chosen-container .chosen-results li.highlighted {
  background: #0c4d6c;
}
.chosen-container-active {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.chosen-container-active.chosen-with-drop .chosen-single {
  background: #fff;
}
select.form-control {
  height: 52px;
  -webkit-appearance: none;
  border-radius: 0;
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
  background-image: url(../img/bg-dropdown-arrow.png);
  background-repeat: no-repeat;
  background-position: 94% 50%;
}
#foo:checked::before,
.custom-radio {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  clip: rect(0 0 0 0);
}
#foo:checked,
.custom-radio + label::before {
  content: '';
  display: inline-block;
  /*.square(20px);*/
  border: 1px solid #0c4d6c;
  cursor: pointer;
  vertical-align: text-bottom;
  margin-right: 10px;
}
.custom-radio:checked + label::before {
  content: '';
  background: #0c4d6c;
}
.custom-radio:disabled + label::before {
  border-color: #efefef;
  cursor: default;
}
[data-toggle="popover"] {
  cursor: pointer;
}
.form-group .fa-question {
  position: absolute;
  top: 35%;
  right: 30px;
  font-size: 16px;
}
.breadcrumb li {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}
.small-text {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}
label {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}
input[type="text"]::-moz-placeholder,
input[type="email"]::-moz-placeholder,
input[type="tel"]::-moz-placeholder,
input[type="password"]::-moz-placeholder {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}
input[type="text"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
input[type="tel"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}
input[type="text"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="tel"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}
input[type="text"] + label,
input[type="email"] + label,
input[type="tel"] + label,
input[type="password"] + label {
  position: absolute;
  height: 100%;
  right: 100%;
  top: 0;
  opacity: 0;
  padding: 18px 10px;
  margin-right: -15px;
  white-space: nowrap;
  pointer-events: none;
  /*.translate(100%, 0);*/
  /*.transition(all 0.3s ease);*/
}
input[type="text"]:focus + label,
input[type="email"]:focus + label,
input[type="tel"]:focus + label,
input[type="password"]:focus + label {
  right: 15px;
  margin-right: 0;
  /*.translate(0, 0);*/
  background: #0c4d6c;
  color: #fff;
  opacity: 1;
}
#gmap iframe,
#gmap object,
#gmap embed {
  width: 100%;
}
.modal-xl {
  width: 90%;
  max-width: 1270px;
}
.pagination-holder > ul {
  /*.pagination();*/
}
.pagination-holder > ul > li > a {
  border-radius: 0 !important;
}
/* ==========================================================================
   !Header
   ========================================================================== */
.navbar-default {
  background: transparent;
  border: none;
}
.navbar-default .navbar-toggle {
  border-radius: 0;
  margin: 0;
  height: 60px;
  width: 60px;
  text-align: center;
  padding-left: 18px;
  border: none;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background: #fff;
}
.navbar-default .navbar-toggle:hover span,
.navbar-default .navbar-toggle:focus span {
  background: #e34f30;
}
.navbar-default .navbar-brand {
  font-weight: 800;
  text-transform: uppercase;
  font-size: 24px;
  color: #0c4d6c;
}
.navbar-default .container {
  background: #f8f8f8;
  background: #fff;
  border-bottom: 1px solid #cfcfcf;
  box-shadow: 1px 0 0 0 #e7e7e7, -1px 0 0 0 #e7e7e7;
}
.navbar-default #search-form .form-control {
  font-style: italic;
  /*.placeholder(@gray-light);*/
}
.navbar-default #search-form .search-btn {
  outline: none;
  padding: 14px;
}
.navbar-default #search-form .search-btn:active {
  box-shadow: none;
}
.navbar-default .navbar-nav {
  text-transform: uppercase;
  /*
&> .open {
			.cart-btn, .cart-btn:hover {
				background: #083347 !important;
				color: #fff !important;
				border-color: #03151e !important;
			}
		}
*/
}
.navbar-default .navbar-nav > li .btn-default {
  color: #0c4d6c;
}
.navbar-default .navbar-utils {
  position: absolute;
  top: 0;
  right: 60px;
  font-size: 12px;
  text-transform: uppercase;
}
.navbar-default .navbar-utils > ul {
  margin: 0;
}
.navbar-default .navbar-utils > ul > li {
  float: left;
}
.navbar-default .navbar-utils > ul > li > .btn:not(.cart-btn) {
  font-size: 12px;
  border: none;
  padding: 20px 15px;
  height: 60px;
}
.navbar-default .navbar-utils .cart-btn {
  height: 60px;
  width: 60px;
  font-size: 25px;
  color: #fff;
  outline: none;
  padding-top: 12px;
}
.navbar-default .navbar-utils .cart-btn:hover {
  background: #083347;
  color: #fff;
  border-color: #03151e;
}
.navbar-default .navbar-utils .cart-btn .fa {
  margin: 0;
}
.navbar-default #navbar-totals .item-number {
  font-weight: 300;
  font-size: 12px;
  position: absolute;
  z-index: 1;
  top: 6px;
  right: 8px;
  color: #fff;
}
.navbar-default .search-btn {
  font-size: 16px;
}
.navbar-default .search-btn .fa {
  margin: 0;
}
#mini-cart {
  left: auto;
  right: -55px;
  width: 310px;
  padding: 20px;
}
#mini-cart:after,
#mini-cart:before {
  bottom: 100%;
  right: 75px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
#mini-cart:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #ffffff;
  border-width: 8px;
  margin-left: -8px;
}
#mini-cart:before {
  border-color: rgba(0, 0, 0, 0);
  border-bottom-color: #cccccc;
  border-width: 9px;
  margin-left: -9px;
}
#mini-cart .cart-items {
  text-transform: none;
}
#mini-cart .cart-item .product-info {
  padding-top: 14px;
}
#mini-cart .cart-item .product-info .product-title {
  margin-bottom: 4px;
}
#mini-cart .remove-item {
  position: absolute;
  right: 15px;
  top: 15px;
}
#mini-cart .subtotal {
  float: left;
}
#mini-cart .btn-default {
  float: right;
  border: 1px solid #093d55;
  font-size: 10px;
}
#mini-cart .btn-danger {
  border: 1px solid #dc3f1e;
}
#mini-cart .btn-primary,
#mini-cart .btn-danger {
  margin-top: 15px;
}
#mini-cart .mini-cart-totals {
  /*.clearfix();*/
}
.remove-item {
  font-size: 18px;
}
.container .jumbotron {
  border-radius: 0;
  text-align: right;
  margin-bottom: 0;
  background: #efefef url(../img/bgnoise_lg.png);
  background: #DDE1E6;
  border-bottom: 1px solid #fff;
}
.container .jumbotron h1 {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.6), 0 1px 0 rgba(255, 255, 255, 0.6);
}
/* ==========================================================================
   !Content
   ========================================================================== */
#page-content {
  padding-top: 60px;
}
.page-section {
  padding: 40px 0;
}
.sale-tag {
  position: absolute;
  top: -15px;
  text-align: center;
  width: 50px;
  background: #e34f30;
  height: 38px;
  padding: 12px 6px;
  font-size: 12px;
  color: #ffffff;
}
#home-banner {
  color: #555555;
  background: #DDE1E6;
}
#home-banner .carousel-inner > .item .jumbotron {
  border: none;
  color: #cfcfcf;
  background: none;
  position: static;
  padding-bottom: 30px;
}
#home-banner .carousel-inner > .item .jumbotron p {
  text-shadow: none;
}
#home-banner .carousel-inner > .item .jumbotron.left {
  text-align: left;
}
#home-banner .carousel-control {
  background: none;
  width: 60px;
}
#home-banner .carousel-control .fa {
  font-size: 200%;
  position: absolute;
  top: 50%;
  text-shadow: none;
}
#home-banner .carousel-control .fa-angle-left {
  left: 10px;
}
#home-banner .carousel-control .fa-angle-right {
  right: 10px;
}
#product-carousel {
  padding-top: 40px;
}
#product-carousel .product-holder {
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}
#product-carousel .owl-controls .owl-buttons {
  position: absolute;
  top: -21px;
  right: 10%;
}
#product-carousel .owl-controls .owl-buttons div {
  font-size: 20px;
  color: #0c4d6c;
  margin: 0;
  background: transparent;
  border-radius: 0;
  border-bottom: 1px solid #cfcfcf;
  border-left: 1px solid #cfcfcf;
  opacity: 1;
}
#product-carousel .owl-controls .owl-buttons div:hover {
  color: #fff;
  background: #0c4d6c;
}
#product-carousel .owl-controls .owl-buttons .owl-next {
  border-right: 1px solid #cfcfcf;
}
#single-product .price,
#single-product .price h2 {
  font-weight: 700;
}
#single-product .add-cart-holder {
  padding-top: 15px;
}
#single-product .btn-add-cart {
  background: #e34f30;
  color: #fff;
  margin-left: 20px;
}
#single-product .btn-add-cart:hover {
  background: #c5381b;
}
#single-product .gallery-thumbs {
  padding-top: 15px;
}
#single-product .gallery-thumbs li {
  border: 1px solid #efefef;
  cursor: pointer;
}
#single-product .gallery-thumbs li img {
  cursor: pointer;
}
#single-product .product-img-zoom {
  cursor: crosshair;
}
#product-page {
  /*.clearfix();*/
}
.quantity-selector {
  display: block;
  float: left;
  margin-right: 4px;
  /*.clearfix();*/
}
.quantity-selector .form-control {
  width: 50px;
  display: inline-block;
  box-shadow: none;
  height: 45px;
  vertical-align: bottom;
  text-align: center;
  float: left;
  padding-left: 0;
  padding-right: 0;
}
.quantity-selector .quantity-btn {
  padding: 10px 10px;
  float: left;
  border-color: #efefef;
}
.quantity-selector .quantity-btn.minus {
  border-right: none;
}
.quantity-selector .quantity-btn.plus {
  border-left: none;
}
.quantity-selector .quantity-btn .fa {
  font-size: 10px;
  margin: 0;
}
.previous-price {
  text-decoration: line-through;
  font-weight: 300;
}
.social-buttons {
  padding-top: 15px;
}
.social-buttons ul li a {
  /*.square(21px);*/
  color: #cfcfcf;
  display: block;
  text-align: center;
  font-size: 16px;
}
.social-buttons ul li a:hover {
  color: #fff;
}
.social-buttons ul .facebook a:hover {
  background: #3b5998;
}
.social-buttons ul .twitter a:hover {
  background: #55acee;
}
.social-buttons ul .pinterest a:hover,
.social-buttons ul .gplus a:hover {
  background: #d34836;
}
.page-items-controller a .fa {
  margin: 0;
}
.panel-group .panel {
  border-radius: 0;
}
.panel-group .panel .category-title {
  font-weight: 300;
}
.panel-group .panel .category-title a {
  display: block;
}
.panel-group .panel .category-title a:hover {
  text-decoration: none;
}
.categories-group {
  border: 1px solid #efefef;
}
.categories-group a {
  display: block;
  padding: 20px 15px;
  border-bottom: 1px solid #efefef;
  /*.transition(background 0.7s ease);*/
}
.categories-group a.active {
  background: #fff;
}
.categories-group a:hover {
  background: #0c4d6c;
  color: #fff;
  text-decoration: none;
  /*.transition(background 0.1s ease);*/
}
.categories-group a:hover .badge {
  background: #fff;
  color: #0c4d6c;
}
.categories-group .badge {
  float: right;
}
.categories-group ul li a {
  padding-left: 30px;
}
.categories-group ul li ul li a {
  padding-left: 45px;
}
.product-holder {
  margin-top: 15px;
  margin-bottom: 15px;
}
.product-holder .product-item {
  padding: 15px;
  background: #fff;
}
.product-holder .product-img img {
  margin: 0 auto;
}
.product-holder .product-title {
  text-transform: none;
}
.pagination-holder {
  text-align: right;
}
.pagination-holder .pagination {
  border-radius: 0;
}
.pagination-holder .pagination > li > a {
  border-radius: 0;
}
#cart,
#receipt,
#order,
#new-products,
#featured-products,
#shop {
  background: #f8f8f8;
}
#cart-content .cart-labels {
  font-style: italic;
  font-size: 12px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin-bottom: 15px;
}
#cart-content .cart-item {
  margin: 0 0 10px 0;
  background: #fff;
}
#cart-content .cart-item .cart-details {
  padding-top: 15px;
  padding-bottom: 15px;
}
#cart-content .cart-item .remove-item {
  position: absolute;
  right: 15px;
  top: 25px;
}
#cart-content .cart-summary-title {
  margin-top: 0;
}
#cart-actions .btn {
  display: block;
  margin: 10px 0;
}
#checkout-progress {
  position: relative;
}
#checkout-progress .breadcrumb {
  margin: 0;
  padding: 0;
  display: table;
  width: 100%;
}
#checkout-progress .breadcrumb li {
  display: table-cell;
  font-size: 11px;
  padding: 5px;
  text-align: center;
}
#checkout-progress .breadcrumb li:before,
#checkout-progress .breadcrumb li:after {
  display: none;
}
#checkout-progress .breadcrumb li a {
  display: block;
}
#checkout-progress .breadcrumb .active {
  position: relative;
  background: #0c4d6c;
  color: #fff;
}
#checkout-progress .breadcrumb .active a {
  color: #fff;
}
#checkout-page .cart-item {
  border-bottom: 1px solid #efefef;
}
#checkout-page .helper .fa-question {
  /*.transition(all 0.3s ease);*/
}
#checkout-page .helper input[type="text"] + label,
#checkout-page .helper input[type="email"] + label,
#checkout-page .helper input[type="tel"] + label {
  padding-right: 40px;
}
#checkout-page .helper input[type="text"]:focus + label + .fa-question,
#checkout-page .helper input[type="email"]:focus + label + .fa-question,
#checkout-page .helper input[type="tel"]:focus + label + .fa-question {
  color: #fff;
}
[data-toggle-mirror] {
  border-color: #efefef;
}
#shipping-methods td {
  padding: 20px;
}
#payment_method label {
  display: block;
}
.price-list {
  font-weight: 300;
}
.price-list .badge {
  font-weight: 300;
  font-size: 14px;
  /*.transition(all 0.3s);*/
  background: none;
  color: #cccccc;
}
.price-list .order-total {
  background: #cccccc;
  color: #fff;
}
.price-list .order-total span:not(.badge) {
  line-height: 33px;
}
.price-list .order-total .badge {
  color: #fff;
  font-size: 26px;
}
/* ==========================================================================
   !Footer
   ========================================================================== */
#page-footer .footer-contact {
  background: #efefef url(../img/bgnoise_lg.png);
  background: #DDE1E6;
  border-top: 1px solid #cfcfcf;
}
#page-footer .footer-contact > div {
  padding-top: 22px;
  padding-bottom: 22px;
}
#page-footer .footer-contact a {
  color: #cccccc;
  font-size: 14px;
}
#page-footer .footer-contact a .fa {
  font-size: 22px;
  margin-right: 4px;
  vertical-align: bottom;
}
#page-footer .footer-contact .social-buttons a {
  margin-right: 6px;
}
#page-footer .footer-contact .social-buttons .facebook:hover {
  color: #3b5998;
}
#page-footer .footer-contact .social-buttons .twitter:hover {
  color: #55acee;
}
#page-footer .footer-contact .social-buttons .gplus:hover {
  color: #d34836;
}
#page-footer .footer-info {
  padding-top: 40px;
  padding-bottom: 24px;
  font-size: 13px;
}
#page-footer .footer-info ul li + li {
  display: inline-block;
  padding: 10px 0;
  margin-right: 15px;
}
#page-footer .footer-info ul li:last-child {
  border-left: 1px solid #efefef;
  padding-left: 15px;
}
/* ==========================================================================
   !Media Queries
   ========================================================================== */
@media (min-width: 480px) {
  /* ==========================================================================
   !Base
   ========================================================================== */
  /* ==========================================================================
   !Header
   ========================================================================== */
  .navbar-default > .container {
    position: relative;
  }
  .navbar-default #main-nav .dropdown {
    /*
&:hover .dropdown-menu {
				display: block;
			}
*/
  }
  .navbar-default #main-nav .dropdown .dropdown-menu {
    border: none;
    text-transform: none;
  }
  .navbar-default #navbar-totals {
    padding: 20px 15px;
    border-left: 1px solid #e7e7e7;
    height: 60px;
    /*.transition(all 1.5s);*/
  }
  .navbar-default #navbar-totals.active {
    background: #0c4d6c;
    color: #fff;
    /*.transition(all 0.1s);*/
  }
  #mini-cart {
    right: 0;
    width: 360px;
  }
  #mini-cart:after,
  #mini-cart:before {
    right: 20px;
  }
  #mini-cart .mini-cart-totals {
    padding-top: 20px;
    margin-top: 15px;
    border-top: 1px solid #efefef;
  }
  /* ==========================================================================
   ! Content
   ========================================================================== */
  #home-banner .carousel-inner > .item .jumbotron {
    position: absolute;
  }
  #home-banner .carousel-caption {
    left: 0;
    right: 0;
  }
  #product-quick-view .modal-header {
    padding-bottom: 30px;
  }
  .product-item {
    /*.transition(opacity 0.2s);*/
  }
  .product-item .product-img {
    overflow: hidden;
    display: block;
  }
  .product-item .product-img img {
    /*.transition(all 0.2s);*/
  }
  .product-item .product-img:hover img {
    -ms-transform: scale(1.1);
    /* IE 9 */
    -webkit-transform: scale(1.1);
    /* Chrome, Safari, Opera */
    transform: scale(1.1);
  }
  .product-item .buttons-holder {
    width: 100%;
    text-align: center;
  }
  .product-item .buttons-holder .btn-add-cart,
  .product-item .buttons-holder .btn-options {
    opacity: 0;
    margin-left: -40px;
    /*.transition(all 0.2s);*/
  }
  .product-item .buttons-holder .btn-quick-view {
    opacity: 0;
    margin-right: -40px;
    /*.transition(all 0.2s);*/
  }
  .product-item .buttons-holder .btn-quick-view .fa {
    margin: 0;
  }
  .product-item:hover {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  }
  .product-item:hover .btn-add-cart,
  .product-item:hover .btn-options,
  .product-item:hover .btn-quick-view {
    margin-left: 0;
    margin-right: 0;
    opacity: 1;
  }
  #single-product {
    position: relative;
  }
  #single-product .breadcrumb {
    position: absolute;
    top: -36px;
  }
  .quantity-selector .quantity-btn {
    padding: 10px 4px;
  }
  #checkout-progress .breadcrumb {
    margin: 0;
    padding: 0;
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    overflow: hidden;
    /*.clearfix;*/
    display: block;
    width: auto;
  }
  #checkout-progress .breadcrumb li {
    padding: 10px 18px 9px 36px;
    float: left;
    font-size: 12px;
    display: list-item;
  }
  #checkout-progress .breadcrumb li:last-child {
    padding-right: 36px;
  }
  #checkout-progress .breadcrumb li:last-child.active:after,
  #checkout-progress .breadcrumb li:last-child.active:before {
    display: none;
  }
  #checkout-progress .breadcrumb li:after,
  #checkout-progress .breadcrumb li:before {
    content: '';
    position: absolute;
    display: block;
  }
  #checkout-progress .breadcrumb li a {
    display: block;
  }
  #checkout-progress .breadcrumb .active {
    position: relative;
    background: #0c4d6c;
    color: #fff;
  }
  #checkout-progress .breadcrumb .active:after,
  #checkout-progress .breadcrumb .active:before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    z-index: 1;
    pointer-events: none;
  }
  #checkout-progress .breadcrumb .active:after {
    border-color: transparent;
    border-left-color: #0c4d6c;
    border-width: 18px;
    margin-top: -18px;
  }
  #checkout-progress .breadcrumb .active:before {
    border-color: rgba(255, 255, 255, 0);
    border-left-color: #fff;
    border-width: 21px;
    margin-top: -21px;
  }
  #checkout-progress .breadcrumb .active a {
    color: #fff;
  }
  #cart-content .cart-labels {
    padding: 10px 0;
  }
  #cart-actions .btn {
    display: inline-block;
    margin-bottom: 0;
  }
  #cart-actions .btn-update-cart {
    float: right;
  }
  #cart-actions .btn-continue-shopping {
    float: left;
  }
  #cart-actions .form-group {
    float: right;
  }
  #payment_method label {
    display: inline-block;
    margin-right: 20px;
  }
  #page-footer .footer-info {
    padding-top: 40px;
    padding-bottom: 24px;
    font-size: 13px;
  }
  #page-footer .footer-info ul li {
    display: inline-block;
  }
  #page-footer .footer-info ul li + li {
    margin-left: 10px;
    padding-left: 15px;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    border-left: 1px solid #efefef;
  }
  #page-footer .footer-info .credit {
    text-align: right;
  }
}
@media (min-width: 720px) {
  .navbar-default > .container {
    position: relative;
    padding-right: 60px;
  }
  .navbar-default #main-nav > li {
    /*.transition(all 0.2s);*/
  }
  .navbar-default #main-nav > li:hover:not(.active) {
    box-shadow: inset 0 1px 0 0 #0c4d6c;
  }
  .navbar-default #main-nav > li.active {
    box-shadow: inset 0 1px 0 0 #0c4d6c;
  }
  .navbar-default .navbar-utils {
    position: relative;
    right: 0;
  }
  .navbar-default #search-form {
    position: absolute;
    right: 0;
    padding: 0;
    margin: 0;
    width: 60px;
  }
  .navbar-default #search-form .form-control,
  .navbar-default #search-form .input-group-btn {
    height: 60px;
  }
  .navbar-default #search-form .form-control {
    box-shadow: none;
    border: none;
    width: 0;
    padding: 0;
    opacity: 0;
    /*.transition(all 0.5s ease);*/
  }
  .navbar-default #search-form .search-btn {
    background: transparent;
    width: 60px;
    border: none;
    outline: none;
    padding: 6px 12px;
  }
  .navbar-default #search-form.active {
    width: 100%;
  }
  .navbar-default #search-form.active .form-control {
    width: 100%;
    opacity: 1;
    padding: 6px 0 6px 12px;
  }
  #home-banner .carousel-caption {
    left: 120px;
    right: 120px;
    padding-left: 0;
    padding-right: 0;
  }
  .col-split-2 {
    position: relative;
    overflow: hidden;
  }
  .col-split-2:after {
    content: '';
    width: 1px;
    background: #efefef;
    left: 50%;
    top: 40px;
    bottom: 40px;
    display: block;
    position: absolute;
  }
  .col-split-2:before {
    content: 'OR';
    font-style: italic;
    left: 50%;
    top: 50%;
    display: block;
    position: absolute;
    font-size: 26px;
    background: #fff;
    margin-left: -13px;
    z-index: 1;
    text-transform: lowercase;
    color: #cccccc;
  }
  #checkout-progress .breadcrumb {
    position: absolute;
    top: -78px;
    left: 15px;
  }
}
@media (min-width: 1200px) {
  .navbar-default .navbar-utils .visible-lg {
    display: inline-block !important;
  }
  .navbar-default .navbar-utils > ul > li > .btn:not(.cart-btn) {
    font-size: 12px;
  }
}
