---
action: 'cmscontent:archive'
template: inner
protocol: all
published: true
name: Blog
url: /archives/:type
description: 'blog template'
---

<div id="banner" class="jumbotron row">
	<h1>Blog</h1>
</div>

<section id="shop" class="page-section row">
  {% if archives | length > 0 or publishedPosts > 0 %}
    {% paginate archives by 5 %}
      {% set publishedPosts = 0 %}
      <div class="col-xs-12 col-md-3">
        <div class="sidebar">
          <h4>Categories</h4>
          {{ partial('blog-categories') }}
        </div>
      </div>
      <div class="col-xs-12 col-md-9 product-holder">
        {% for post in archives %}
          {% if post.status == "published" %}
            {% set publishedPosts = publishedPosts + 1 %}
          {% endif %}
          <div class="product-item">
            <h3 class="product-title"><a href="/blog/{{ post.guid }}">{{ post.title }}</a></h3>
            <div>{{ post.excerpt | unescape }}</div>
            <div><a href="/blog/{{ post.guid }}">Read More</a></div>
          </div>
          <hr/>
        {% endfor %}
        <div class="pagination-holder">
  				{% navigation %}
  			</div>
      </div>
    {% endpaginate %}
  {% else %}
    <h2>No posts found</h2>
  {% endif %}
</section>
