---
template: home
protocol: all
published: true
name: Home
url: /
---
<div id="home-banner" class="row">
	<div id="home-carousel" class="carousel slide" data-ride="carousel">
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#home-carousel" data-slide-to="0" class="active"></li>
			<li data-target="#home-carousel" data-slide-to="1"></li>
		</ol>

		<!-- Wrapper for slides -->
		<div class="carousel-inner">
			<div class="item active">
				<img src="{{ theme.homepageImageBannerA.thumbnail('auto', 'auto')}}" alt="demo_slide_2" />
				<div class="jumbotron carousel-caption">
					<h1><i class="fa fa-cube"></i> Boxie!</h1>
					<p>A Responsive LemonStand Theme.</p>
					<p><a href="{{ site_url('about') }}" class="btn btn-primary btn-lg" role="button">Learn More &raquo;</a></p>
				</div>
			</div>
			<div class="item">
				<img src="{{ theme.homepageImageBannerB.thumbnail('auto', 'auto')}}" alt="demo_slide_1" />
				<div class="jumbotron carousel-caption left">
					<h1>Speakers</h1>
					<p>Cube speakers. Awesome.</p>
					<p><a href="{{ site_url('shop') }}" class="btn btn-primary btn-lg" role="button">Shop Now &raquo;</a></p>
				</div>
			</div>
		</div>

		<!-- Controls -->
		<a class="left carousel-control" href="#home-carousel" data-slide="prev">
			<i class="fa fa-angle-left"></i>
		</a>
		<a class="right carousel-control" href="#home-carousel" data-slide="next">
			<i class="fa fa-angle-right"></i>
		</a>
	</div>
</div>

<section id="featured-products" class="page-section row">
	<h2 class="section-title"><span>Featured Products</span></h2>
		{% set featuredCollection = 'featured'|collection %}
		{% if featuredCollection %}

			{% for product in featuredCollection.products %}
				<div class="col-sm-4 product-holder">

		            {{ partial('shop-grid-item', { 'product': product }) }}

		        </div>
			{% endfor %}

		{% else %}
			<p>The product collection was not found. Please create this group on the Shop/Collections page.</p>
		{% endif %}
</section>

<section id="new-products" class="page-section row">
	<h2 class="section-title"><span>What's New</span></h2>
	<div id="product-carousel" class="col-xs-12">
		{% set featuredCollection = 'new'|collection %}
		{% if featuredCollection %}

			{% for product in featuredCollection.products %}
				<div class="product-holder">

		            {{ partial('shop-grid-item', { 'product': product }) }}

		        </div>
			{% endfor %}

		{% else %}
			<p>The product collection was not found. Please create this group on the Shop/Collections page.</p>
		{% endif %}
	</div>
</section>

<div class="page-section text-center">
	<a href="{{ site_url('shop') }}" class="btn btn-primary btn-lg">See All Products</a>
</div>

{{ partial('shop-product-quick-view') }}
